@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("black-background.jpg");
  background-size: 100%;
}

#sketch-container {
  border: 40px red solid;
  border-bottom: 0px;
  border-radius: 40px;
  transform: scale(1.2);
}

.mode-control {
  text-align: center;
}

.mode-control-label {
  color: white;
  background-color: red;

  font-family: 'Pacifico', cursive;
  font-size: 24px;

  width: 100%;
}

#bottom-bar {
  display: flex;
  background-color: red;
  justify-content: space-between;
}

.controls {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: bold;
  background-color: white;
  border: 6px grey solid;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 4px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#sketch-content {
  height: 400px;
  width: 400px;
  display: grid;

  background-color: silver;
}

button {
  padding: 0px;
}

.fill {
  background-color: black;
}

.fadeOut {
  animation: fadeOut 1s 1;
}

.wobble {
  animation: wobble 1s 1;
}

/* ANIMATIONS */
@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;} 
}

@keyframes wobble {
  0% {transform: 0px;}
  15% {transform: translate3d(-25%, 0, 0) rotate3d(0, 0, 1, -5deg)}
  30% {transform: translate3d(20%, 0, 0) rotate3d(0, 0, 1, 3deg)}
  45% {transform: translate3d(-15%, 0, 0) rotate3d(0, 0, 1, -3deg)}
  60% {transform: translate3d(10%, 0, 0) rotate3d(0, 0, 1, 2deg)}
  75% {transform: translate3d(-5%, 0, 0) rotate3d(0, 0, 1, -1deg)}
  100% {transform: none}
}